<h3>Calculate BMI Index</h3>

<div class="form-group">
    <label for="height">Height (In Meters)</label>
    <input id="height" type="string" name="height" class="form-control" required>
  </div>
  <div class="form-group">
      <label for="weight">Weight (In Kilograms)</label>
      <input id="weight" type="string" name="weight" class="form-control" required>
  </div>
  <input onclick="return getBMI889();" type="submit" value="Submit" class="btn btn-primary" required>

<br><br>
<div id=bmi></div>

<script type="text/javascript">
  function getBMI889() {
    var height = document.getElementById("height").value;
    var weight = document.getElementById("weight").value;
    if (!height) {
      alert('Please enter height');
    }
    if (!weight) {
      alert('Please enter weight');
    }
    if (height && weight) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          data = JSON.parse(this.responseText);
          document.getElementById("bmi").innerHTML = "Your BMI is: " + data.bmi;
        } else {
          document.getElementById("bmi").innerHTML = "Please Enter Valid Info"; 
        }
      };
      
      var param = "height=" + height + "&weight=" + weight;
      xhttp.open("POST", "/bmi889/calculateBMI889", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send(param);
    }
  }
</script>